[submodule "vendor/plugins/backgroundrb"]
        path = vendor/plugins/backgroundrb
        url = git://github.com/gnufied/backgroundrb.git
[submodule "vendor/plugins/redhillonrails_core"]
	path = vendor/plugins/redhillonrails_core
	url = git://github.com/harukizaemon/redhillonrails_core.git
[submodule "vendor/plugins/transactional_migrations"]
	path = vendor/plugins/transactional_migrations
	url = git://github.com/harukizaemon/transactional_migrations.git
[submodule "vendor/plugins/foreign_key_migrations"]
	path = vendor/plugins/foreign_key_migrations
	url = git://github.com/harukizaemon/foreign_key_migrations.git
[submodule "vendor/plugins/haml"]
	path = vendor/plugins/haml
	url = git://github.com/chriseppstein/haml.git
[submodule "vendor/plugins/open_flash_chart"]
	path = vendor/plugins/open_flash_chart
	url = git://github.com/pullmonkey/open_flash_chart.git
[submodule "vendor/plugins/acts_as_tree"]
	path = vendor/plugins/acts_as_tree
	url = git://github.com/rails/acts_as_tree.git
