<form method="GET" action="/search">
  <input type="hidden" name="search_type" value="domain"/>
  Domains:
  <input name="search_domain" type="text"/>
  
  
  <input type="submit" value="Search"/>
</form>