.notice {
 border: 1px solid #ccc;
 background-color: #fec;
 padding: 5mm;
 margin: 5mm;
}

div.help {
  font-size: 90%;
  margin: 0.3em;
  padding: 0.3em;
  color: blue;
  background-color: #FFA;
  border: 1px solid #888;
}




@import url("confluence.css");

* {
	font-family:	tahoma,helvetica,sans-serif;
}

.red-border {
	border: 1px solid red;
} 

#doc3 {
	margin: 0;
}

#tophelper {
	border-left: 0;
	border-right: 0;
}

.hint {
	border: 1px solid #888;
	background-color: #FFA;
	padding-left: 1em;
	padding-right: 1em;
}

.google-ad {
}

.google-ad-728x90 {
	margin-top: 3px;
	margin-bottom: 3px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#ft { 
	text-align: center;
	margin-top: 1em;
	font-size: 90%;
}

#tophelper {
	padding-left: 5px;
	padding-right: 5px;
}

#tophelper table {
	width: 100%;
}

#breadcrumbs {
	text-align: left;
}

#quicklinks {
	text-align: right;
}

#bd {
	padding-left: 0.7em;
}

#leftHeader {
	padding-left: 0.7em;
}

#bd .section_1 {
	padding: 3px;
}

#bd .section_1 h1 {
	padding-left: 3px;
	font-size: 130%;
	margin-bottom: 3px;
}

.gradiented {
	border: 1px solid #aaa;
	background-color:	transparent;
	background-image:	url(http://yui.yahooapis.com/2.5.0/build/assets/skins/sam/sprite.png);
	background-repeat:	repeat-x;
}

.rss {
	padding-left: 18px;
	background-image: url('http://media.codehaus.org/themes/yui-skin-sam/images/rss-icon-14x14.png');
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: 0px 2px;
}

#leftHeader h1 {
	font-size: 190%;
}

#leftHeader h2 {
	font-size: 140%;
}

.navigation {
	background-color: #ECF5FA;
	border: 1px solid #89f;
	border-top: 0;
	border-right: 0;
}

.navigation ul {
	margin: 0;
	padding: 0;
}

.navigation a {
	text-decoration: none;
}

#bd .navigation h1, #bd .navigation h4 { 
	font-weight: bolder;
	font-size: 100%;
	color:white;
	margin: 0 0 0 0;
	padding: 0.1em;
	background-color: #66f;
	background-image:	url(http://yui.yahooapis.com/2.4.1/build/assets/skins/sam/sprite.png);
	background-repeat:	repeat-x;
	background-position: 0 -1400px;
	background-attachment:	scroll;
}

#bd .navigation .section_1 {
	margin-bottom: 0.3em;
}

#upage_title {
	background-color: #66f;
	background-image:	url(http://yui.yahooapis.com/2.4.1/build/assets/skins/sam/sprite.png);
	background-repeat:	repeat-x;
	background-position: 0 -1400px;
	background-attachment:	scroll;
	font-weight: bolder;
}

.navigation li {
	line-height: 16px;
	color:	#00E;
	text-decoration: none;
	margin: 0;
	padding: 0.1em 0.1em 0.1em 0.3em;
}

.navigation li:hover { 
	color: white;
	background-color: #66f;
	background-image:	url(http://yui.yahooapis.com/2.4.1/build/assets/skins/sam/sprite.png);
	background-repeat:	repeat-x;
	background-position: 0 -1400px;
	background-attachment:	scroll;
}

#bd .section_1 {
	padding: 0;
  margin: 0;
}


.navigation h1 { 
	background-color:	#89f;
	font-weight: bolder;
}

#bd table {
	border-collapse: collapse;
}

#bd td {
	padding: 0.3em;
	border: 1px solid #ccc;
}

#upage_title td {
	border: 0;
	color: white;
}

#upage_title table {
	border: 1px solid black;
}

bd li {
	list-style-image: disc;
}

#bd h1 {
	padding-top: 0.2em;
	border-bottom: 1px solid #ccf;
	margin-bottom: 0.1em;
	font-size: 140%;
}

#bd h2 {
	padding-top: 0.2em;
	margin-bottom: 0.1em;
	border-bottom: 1px solid #ccf;
	font-size: 125%;
}

.section_1 {
	padding: 0.5em;
}

.section_2 {
	padding: 1em;
}


#page-comment, #page-view, #page-edit, #page-print {
	padding-left: 18px;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: 0px -1px;
}

#page-comment {
	background-image: url('../images/add_comment_16.png');
}
#page-view {
	background-image: url('../images/docs_16.png');
}
#page-edit {
	background-image: url('../images/edit_blogentry_16.png');
}
#page-print {
	background-image: url('../images/print_16.png');
}

