/*
Sass::SyntaxError: Undefined constant: "!spacing".
on line 27 of /Users/bwalding/Workspace/foci/public/stylesheets/sass/panel.sass

23: 
24: 
25: .panel
26:   border:                1px solid black
27:   :margin-top            = !spacing
28:   :margin-bottom         = !spacing
29:   :margin-right          = !spacing
30:   .content
31:     :padding-top         = !spacing
32:     :padding-left        = !spacing
33:     :padding-right       = !spacing


Backtrace:
/Users/bwalding/Workspace/foci/public/stylesheets/sass/panel.sass:27
/Library/Ruby/Gems/1.8/gems/haml-2.0.6/lib/sass/constant.rb:209:in `get_constant'
/Library/Ruby/Gems/1.8/gems/haml-2.0.6/lib/sass/constant.rb:192:in `operationalize'
/Library/Ruby/Gems/1.8/gems/haml-2.0.6/lib/sass/constant.rb:182:in `operationalize'
/Library/Ruby/Gems/1.8/gems/haml-2.0.6/lib/sass/constant.rb:45:in `parse'
/Library/Ruby/Gems/1.8/gems/haml-2.0.6/lib/sass/engine.rb:329:in `parse_attribute'
/Library/Ruby/Gems/1.8/gems/haml-2.0.6/lib/sass/engine.rb:282:in `parse_line'
/Library/Ruby/Gems/1.8/gems/haml-2.0.6/lib/sass/engine.rb:187:in `build_tree'
/Library/Ruby/Gems/1.8/gems/haml-2.0.6/lib/sass/engine.rb:237:in `build_tree'
/Library/Ruby/Gems/1.8/gems/haml-2.0.6/lib/sass/engine.rb:116:in `render_to_tree'
/Library/Ruby/Gems/1.8/gems/haml-2.0.6/lib/sass/engine.rb:88:in `render'
/Library/Ruby/Gems/1.8/gems/haml-2.0.6/lib/sass/plugin.rb:65:in `update_stylesheets'
/Library/Ruby/Gems/1.8/gems/haml-2.0.6/lib/sass/plugin.rb:53:in `each'
/Library/Ruby/Gems/1.8/gems/haml-2.0.6/lib/sass/plugin.rb:53:in `update_stylesheets'
/Library/Ruby/Gems/1.8/gems/haml-2.0.6/lib/sass/plugin/rails.rb:16:in `process'
/Library/Ruby/Gems/1.8/gems/actionpack-2.2.2/lib/action_controller/base.rb:392:in `process'
/Library/Ruby/Gems/1.8/gems/actionpack-2.2.2/lib/action_controller/dispatcher.rb:183:in `handle_request'
/Library/Ruby/Gems/1.8/gems/actionpack-2.2.2/lib/action_controller/dispatcher.rb:110:in `dispatch_unlocked'
/Library/Ruby/Gems/1.8/gems/actionpack-2.2.2/lib/action_controller/dispatcher.rb:123:in `dispatch'
/Library/Ruby/Gems/1.8/gems/actionpack-2.2.2/lib/action_controller/dispatcher.rb:122:in `synchronize'
/Library/Ruby/Gems/1.8/gems/actionpack-2.2.2/lib/action_controller/dispatcher.rb:122:in `dispatch'
/Library/Ruby/Gems/1.8/gems/actionpack-2.2.2/lib/action_controller/dispatcher.rb:132:in `dispatch_cgi'
/Library/Ruby/Gems/1.8/gems/actionpack-2.2.2/lib/action_controller/dispatcher.rb:39:in `dispatch'
/Library/Ruby/Gems/1.8/gems/mongrel-1.1.5/bin/../lib/mongrel/rails.rb:76:in `process'
/Library/Ruby/Gems/1.8/gems/mongrel-1.1.5/bin/../lib/mongrel/rails.rb:74:in `synchronize'
/Library/Ruby/Gems/1.8/gems/mongrel-1.1.5/bin/../lib/mongrel/rails.rb:74:in `process'
/Library/Ruby/Gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:159:in `process_client'
/Library/Ruby/Gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:158:in `each'
/Library/Ruby/Gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:158:in `process_client'
/Library/Ruby/Gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:285:in `run'
/Library/Ruby/Gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:285:in `initialize'
/Library/Ruby/Gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:285:in `new'
/Library/Ruby/Gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:285:in `run'
/Library/Ruby/Gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:268:in `initialize'
/Library/Ruby/Gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:268:in `new'
/Library/Ruby/Gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:268:in `run'
/Library/Ruby/Gems/1.8/gems/mongrel-1.1.5/lib/mongrel/configurator.rb:282:in `run'
/Library/Ruby/Gems/1.8/gems/mongrel-1.1.5/lib/mongrel/configurator.rb:281:in `each'
/Library/Ruby/Gems/1.8/gems/mongrel-1.1.5/lib/mongrel/configurator.rb:281:in `run'
/Library/Ruby/Gems/1.8/gems/mongrel-1.1.5/bin/mongrel_rails:128:in `run'
/Library/Ruby/Gems/1.8/gems/mongrel-1.1.5/lib/mongrel/command.rb:212:in `run'
/Library/Ruby/Gems/1.8/gems/mongrel-1.1.5/bin/mongrel_rails:281
/Library/Ruby/Gems/1.8/gems/activesupport-2.2.2/lib/active_support/dependencies.rb:142:in `load_without_new_constant_marking'
/Library/Ruby/Gems/1.8/gems/activesupport-2.2.2/lib/active_support/dependencies.rb:142:in `load'
/Library/Ruby/Gems/1.8/gems/activesupport-2.2.2/lib/active_support/dependencies.rb:521:in `new_constants_in'
/Library/Ruby/Gems/1.8/gems/activesupport-2.2.2/lib/active_support/dependencies.rb:142:in `load'
/Library/Ruby/Gems/1.8/gems/rails-2.2.2/lib/commands/servers/mongrel.rb:64
/Library/Ruby/Site/1.8/rubygems/custom_require.rb:31:in `gem_original_require'
/Library/Ruby/Site/1.8/rubygems/custom_require.rb:31:in `require'
/Library/Ruby/Gems/1.8/gems/activesupport-2.2.2/lib/active_support/dependencies.rb:153:in `require'
/Library/Ruby/Gems/1.8/gems/activesupport-2.2.2/lib/active_support/dependencies.rb:521:in `new_constants_in'
/Library/Ruby/Gems/1.8/gems/activesupport-2.2.2/lib/active_support/dependencies.rb:153:in `require'
/Library/Ruby/Gems/1.8/gems/rails-2.2.2/lib/commands/server.rb:49
/Library/Ruby/Site/1.8/rubygems/custom_require.rb:31:in `gem_original_require'
/Library/Ruby/Site/1.8/rubygems/custom_require.rb:31:in `require'
./script/server:3
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Sass::SyntaxError: Undefined constant: \"!spacing\".\A on line 27 of /Users/bwalding/Workspace/foci/public/stylesheets/sass/panel.sass\A \A 23: \A 24: \A 25: .panel\A 26:   border:                1px solid black\A 27:   :margin-top            = !spacing\A 28:   :margin-bottom         = !spacing\A 29:   :margin-right          = !spacing\A 30:   .content\A 31:     :padding-top         = !spacing\A 32:     :padding-left        = !spacing\A 33:     :padding-right       = !spacing\A "; }
