<% @page_title = 'FOCI!' %>
<% if @vhost %>
Welcome to all the web stats for <%= @vhost %>!
<% else %>
Welcome to all the web stats!
<% end %>


<% top_report_type = TopReportType.find_by_key('TOPVHOSTS') %>
<h1><%= top_report_type.title %></h1>
<%= render_top_reports(top_report_type) %>