<ul>
<li><%= link_to 'Sources per day', :action => :sources_per_day, :interval => @interval %></li>
<li><%= link_to 'Historical load', :action => :historical_load, :interval => @interval %></li>
</ul>