#tophelper.yuimenubar
  %table
    %tr
      %td#breadcrumbs
        %a{ :href => "/" }
          Home
        |
        %a{ :href => "/search" }
          Search
        - if @vhost
          |
        -
        - tmp_vhosts = []
        - tmp_links = []
        - tmp_vhost = @vhost
        - while tmp_vhost
          - tmp_vhosts << tmp_vhost
          - tmp_links << link_to( tmp_vhost.host_brief, { :controller => '/vhosts', :vhost => tmp_vhost.host }, { :title => tmp_vhost.host } )
          - tmp_vhost = tmp_vhost.parent
        = tmp_links.join('&nbsp;&raquo;&nbsp;')
        
      %td#quicklinks
        = link_to 'codehaus', vhosts_path(:vhost => 'codehaus.org')
        |
        = link_to 'rubyhaus', vhosts_path(:vhost => 'rubyhaus.org')
        |
        = link_to 'foci', vhosts_path(:vhost => 'foci.rubyhaus.org')
